{% extends "admin/layout.html" %}

{% block adminContent %}

<h4> طلبات المساعدة
  <!-- <a class="btn btn-info pull-left" href="aid_request.php?action=add"> إضافة إعلان جديد </a> -->
</h4><hr>

{% if(msg) %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{msg}}
</div>
{% endif %}

{% if (results|length > 0)%}
<table class="table table-striped">
  <thead>
    <tr>
      <td><b>المساعدة</b></td>
      <td><b>المستفيد</b></td>
      <td><b>تاريخ الطلب</b></td>
      <td><b>الجمعية</b></td>
      <td><b>حالة الطلب</b></td>
      <!-- <td width="20%"><b>إدارة</b></td> -->
    </tr>
  </thead>
  <tbody>
    {% for item in results %}
    <tr>
      <td><a href="aid.php?id={{item.aid_id}}&&action=view">{{item.aid_name}}</a></td>
      <td><a href="#">{{item.user_name}}</a></td>
      <td>{{item.date}}</td>
      <td>{{item.charity_name}}</td>
      <td>{{item.state}}</td>
      <!-- <td>
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-info btn-xs" href="aid_request.php?id={{item.id}}&&action=edit">تعديل</a>
          <a class="btn btn-danger btn-xs" href="aid_request.php?id={{item.id}}&&action=delete" onclick="return confirm('هل أنت متأكد من عملية الحذف؟ لا يمكنك التراجع')">حذف</a>
        </div>
      </td> -->
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  لا توجد سجلات
</div>
{% endif %}

{% endblock %}
