{% extends "admin/layout.html" %}

{% block adminContent %}

<h4> إضافة باحث جديد </h4><hr>

{% if(msg) %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{msg}}
</div>
{% endif %}

<form class="form-horizontal" action="{{url}}/admin/perm_beneficiaries.php" method="post">

  <h5>بيانات العضوية</h5><hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">الاسم</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">الإيميل</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" value="">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">كلمة المرور</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password" value="">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">الجمعية</label>
    <div class="col-sm-10">
      <select class="form-control" name="charity_id">
        {% for item in charities %}
          <option value="{{item.id}}">{{item.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <br><h5>التفاصيل</h5><hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">العمر</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="age">
    </div>
  </div>
 

  <input type="hidden" name="action" value="add">
  <div class="pull-left">
    <input type="submit" name="submit" class="btn btn-primary " value="حفظ">
    <a href="{{url}}/admin/perm_beneficiaries.php" class="btn btn-default"> إلغاء الأمر </a>
  </div>
</form>


{% endblock %}
