{% extends "admin/layout.html" %}

{% block title %}  {{item.name}}  {% endblock %}

{% block adminContent %}

<h4> {{item.name}} </h4><hr>

<table class="table table-striped">
  <tr>
    <td width="25%"> الاسم </td>
    <td><b>{{item.name}}</b></td>
  </tr>
  <tr>
    <td width="25%"> من المبلغ </td>
    <td><b>{{item.amount1}}</b></td>
  </tr>
  <tr>
    <td width="25%"> إلى </td>
    <td><b>{{item.amount2}}</b></td>
  </tr>

</table>

{% endblock %}
