{% extends "admin/layout.html" %}

{% block title %} تعديل الجمعية :  {{item.name}}  {% endblock %}

{% block adminContent %}

<h4> تعديل الجمعية :  {{item.name}} </h4><hr>

{% if(msg) %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{msg}}
</div>
{% endif %}

<form class="form-horizontal" action="{{url}}/admin/charity.php" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">الاسم</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="{{item.name}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">هاتف الجمعية</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="phone" value="{{item.phone}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">إيميل الجمعية</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" value="{{item.email}}">
    </div>
  </div>

  <input type="hidden" name="id" value="{{item.id}}">
  <input type="hidden" name="action" value="update">

  <div class="pull-left">
    <input type="submit" name="submit" class="btn btn-primary " value="حفظ">
    <a href="{{url}}/admin/charity.php" class="btn btn-default"> إلغاء الأمر </a>
  </div>
</form>


{% endblock %}
