{% extends "admin/layout.html" %}

{% block title %}  {{item.name}}  {% endblock %}

{% block adminContent %}

<h4> {{item.name}} </h4><hr>

<table class="table table-striped">
  <tr>
    <td width="25%"> الإسم </td>
    <td><b>{{item.name}}</b></td>
  </tr>
  <tr>
    <td width="25%">الإيميل</td>
    <td><b>{{item.email}}</b></td>
  </tr>
  <tr>
    <td width="25%"> الجمعية</td>
    <td><b>{{item.charity_name}}</b></td>
  </tr>
</table>

{% endblock %}
