{% extends "admin/layout.html" %}

{% block adminContent %}

<h4> تعديل المساعدة : {{item.name}} </h4><hr>

{% if(msg) %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{msg}}
</div>
{% endif %}

<form class="form-horizontal" action="{{url}}/admin/aid.php" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">الاسم</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="{{item.name}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"> التفاصيل </label>
    <div class="col-sm-10">
      <textarea name="details" class="form-control" rows="8" cols="80">{{item.details}}</textarea>
    </div>
  </div>


  <input type="hidden" name="id" value="{{item.id}}">
  <input type="hidden" name="action" value="update">

  <div class="pull-left">
    <input type="submit" name="submit" class="btn btn-primary " value="حفظ">
    <a href="{{url}}/admin/aid.php" class="btn btn-default"> إلغاء الأمر </a>
  </div>
</form>


{% endblock %}
