{% extends "admin/layout.html" %}

{% block title %}  {{item.name}}  {% endblock %}

{% block adminContent %}

<h4> {{item.name}} </h4><hr>

<table class="table table-striped">
  <tr>
    <td width="25%"> إسم الجمعية </td>
    <td><b>{{item.name}}</b></td>
  </tr>
  <tr>
    <td width="25%"> تاريخه </td>
    <td><b>{{item.date}}</b></td>
  </tr>
  <tr>
    <td width="25%">بواسطة</td>
    <td><b>{{item.user_name}}</b></td>
  </tr>
  <tr>
    <td width="25%">تفاصيل الإعلان</td>
    <td><b>{{item.details}}</b></td>
  </tr>
</table>

{% endblock %}
