{% extends "admin/layout.html" %}

{% block title %} تعديل الجمعية :  {{item.name}}  {% endblock %}

{% block adminContent %}

<h4> تعديل الجمعية :  {{item.name}} </h4><hr>

{% if(msg) %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{msg}}
</div>
{% endif %}

<form class="form-horizontal" action="{{url}}/admin/perm_beneficiaries.php" method="post">

  <h5>بيانات العضوية</h5><hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">الاسم</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="{{item.name}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">الإيميل</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" value="{{item.email}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">كلمة المرور</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password" value="{{item.password}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">الجمعية</label>
    <div class="col-sm-10">
      <select class="form-control" name="charity_id">
        {% for charity in charities %}
          <option value="{{charity.id}}" {{(item.charity_id == charity.id ? 'selected' : '') }}>{{charity.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>


  <br><h5>التفاصيل</h5><hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">العمر</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="age" value="{{item.age}}">
    </div>
  </div>

  <input type="hidden" name="id" value="{{item.id}}">
  <input type="hidden" name="action" value="update">

  <div class="pull-left">
    <input type="submit" name="submit" class="btn btn-primary " value="حفظ">
    <a href="{{url}}/admin/perm_beneficiaries.php" class="btn btn-default"> إلغاء الأمر </a>
  </div>
</form>


{% endblock %}
