{% extends "admin/layout.html" %}

{% block adminContent %}

<h4> مرحباً بك من جديد!</h4><hr><br>

<h4> بياناتك المسجلة لدينا</h4><hr>
<table class="table table-striped">
  <tr>
    <td width="25%">الاسم</td>
    <td><b>{{user.name}}</b></td>
  </tr>
  <tr>
    <td width="25%"> الوظيفة </td>
    <td><b>{{level_name}}</b></td>
  </tr>
  <tr>
    <td width="25%">الإيميل</td>
    <td><b>{{user.email}}</b></td>
  </tr>

  {% if(user.charity_name) %}
  <tr>
    <td width="25%">الجمعية</td>
    <td><b>{{user.charity_name}}</b></td>
  </tr>
  {% endif %}
  {% if(user.age) %}
  <tr>
    <td width="25%">العمر</td>
    <td><b>{{user.age}}</b></td>
  </tr>
  {% endif %}
</table>

{% endblock %}
