{% extends "front/layout.html" %}

{% block title %}  صفحتي  {% endblock %}

{% block content %}

<h3> صفحتي </h3><hr>

<div class="row">
  <div class="col-sm-3">

    <div class="list-group">
      <a href="/admin/index.php" class="list-group-item"> صفحتي </a>
      <a href="/admin/myinfo.php" class="list-group-item"> تعديل بياناتي</a>
    </div>
    {% include 'admin/nav_level_'~ level ~'.html' ignore missing %}

  </div>
  <div class="col-sm-9">
    <!-- admin content -->
    {% block adminContent %} {% endblock %}
  </div>
</div>

{% endblock %}
