{% extends "admin/layout.html" %}

{% block title %}  تعديل بياناتي  {% endblock %}

{% block adminContent %}

<h4> تعديل بياناتي </h4><hr>

{% if(msg) %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{msg}}
</div>
{% endif %}

<form class="form-horizontal" action="{{url}}/admin/myinfo.php" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">الاسم</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" value="{{user.name}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">الإيميل</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" value="{{user.email}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">كلمة المرور</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password" value="{{user.password}}">
    </div>
  </div>


  <!-- if he is a perm beneficiary -->
  {% if(user.level == 3 or user.level == 4) %}
  <br><h5>التفاصيل</h5><hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">العمر</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="age" value="{{user.age}}">
    </div>
  </div>
  {% endif %}



  <input type="hidden" name="id" value="{{user.id}}">
  <input type="submit" name="submit" class="btn btn-primary pull-left" value="حفظ">
</form>

{% endblock %}
