<div class="list-group">
  <a href="/admin/charity.php" class="list-group-item"> الجمعيات </a>
  <a href="/admin/announcement.php" class="list-group-item">الإعلانات<a>
  <a href="/admin/aid.php" class="list-group-item">المساعدات</a>
  <a href="/admin/beneficiary_categories.php" class="list-group-item">الفئات المستفيدة</a>
  <a href="/admin/researcher.php" class="list-group-item">الباحثين</a>
  <a href="/admin/aid_request.php" class="list-group-item">طلبات المساعدة</a>
  <a href="/admin/perm_beneficiaries.php" class="list-group-item">المستفيدين الدائمين</a>
  <!-- <a href="/admin/perm_beneficiaries.php" class="list-group-item">المستفيدين المؤقتين</a> -->
  <!-- <a href="#" class="list-group-item">شروط وفوائد التأمين</a> -->
</div>
