{% extends "front/layout.html" %}

{% block title %}  رابط خائط  {% endblock %}

{% block content %}
  <div class="jumbotron">
    <h2 class="text-danger">الصفحة غير موجودة (!)</h2>
    <p>لقد إتبعت رابط خاطئ</p>
    <hr>
    <a class="btn btn-primary btn-lg" href="/index.php">العودة إلى الصفحة الرئيسية</a>
  </div>
{% endblock %}
