{% extends "front/layout.html" %}

{% block title %} الرئيسية {% endblock %}

{% block content %}

  <!-- slider -->
  <div class="clearfix">
    <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="assets/images/slides/slide-1.jpg" alt="..." class="rounded">
        </div>
        <div class="item">
          <img src="assets/images/slides/slide-1.jpg" alt="..." class="rounded">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control rounded" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control rounded" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <br>
  <div class="clearfix">
    <div class="panel panel-default">
      <div class="panel-heading"> يقول الرسول صلى الله عليه وسلم </div>
      <div class="panel-body">
        <h5>( من سأل الناس تكثرا فإنما يسأل جمراً , فليستقل أو ليستكثر ) . رواه مسلم</h5>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6 col-sm-3 text-center">
      <div class="thumbnail">
        <a href="#"><img src="assets/images/logo.jpg"  alt="..."></a>
        <div class="caption">
          <h3>جمعية الأفلاج</h3>
          <p>عدد المستفيدين : 5901</p>
          <p><a href="#" class="btn btn-primary" role="button">تسجيل مستفيد</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
      <div class="thumbnail">
        <a href="#"><img src="assets/images/logo.jpg"  alt="..."></a>
        <div class="caption">
          <h3>جمعية الأفلاج</h3>
          <p>عدد المستفيدين : 5901</p>
          <p><a href="#" class="btn btn-primary" role="button">تسجيل مستفيد</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
      <div class="thumbnail">
        <a href="#"><img src="assets/images/logo.jpg"  alt="..."></a>
        <div class="caption">
          <h3>جمعية الأفلاج</h3>
          <p>عدد المستفيدين : 5901</p>
          <p><a href="#" class="btn btn-primary" role="button">تسجيل مستفيد</a></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 text-center">
      <div class="thumbnail">
        <a href="#"><img src="assets/images/logo.jpg"  alt="..."></a>
        <div class="caption">
          <h3>جمعية الأفلاج</h3>
          <p>عدد المستفيدين : 5901</p>
          <p><a href="#" class="btn btn-primary" role="button">تسجيل مستفيد</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
