<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="utf-8">
    <title>الجميعة الخيرية بمحافظة الأفلاج | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/alber.css">
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.php">
            <img class="pull-right img-circle brand-img" src="/assets/images/logo.jpg" alt="..." width="24px" height="24px">
            <span class="pull-right">الجميعة الخيرية بمحافظة الأفلاج</span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="{% if active == 'home' %} active {% endif %}"><a href="index.php">الرئيسية</a></li>
            <li class="dropdown show-on-hover">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">التأمينات <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="/static.php?page=procurement-terms">شروط التأمينات</a></li>
                 <li><a href="/static.php?page=procurement-advantages">مزايا التأمينات</a></li>
                 <li><a href="/static.php?page=procurement-benefits">فوائد التأمينات</a></li>
               </ul>
            </li>
            <li class="dropdown show-on-hover">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> طلب مساعدة <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="#"> للأفراد </a></li>
                 <li><a href="#"> للعائلة </a></li>
               </ul>
            </li>
            <li class="dropdown show-on-hover">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  التسجيل في الضمان <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="#"> للأفراد </a></li>
                 <li><a href="#"> للعائلة </a></li>
               </ul>
            </li>
          </ul>
          <div class="navbar-form navbar-left">
            {% if logged_in %}
              <a href="#"> {{name}} ({{level_name}}) </a> |
              {% if level != 0 %}
                <a href="/admin/index.php" class="btn btn-primary"> صفحتي </a>
              {% endif %}
              <a href="/logout.php" class="btn btn-danger"> خروج</a>
            {% else %}
              <a href="/login.php" class="btn btn-default">دخول</a>
            {% endif %}
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.containers -->
    </nav>

    <div class="container">

      <!-- page content -->
      {% block content %} {% endblock %}

      <!-- footer -->
      <hr><p>جميع الحقوق محفوظة © 2017</p>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
