{% extends "front/layout.html" %}

{% block title %} تسجيل الدخول {% endblock %}

{% block content %}
  <h1>تسجيل الدخول</h1><hr>
  <form action="login.php" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">البريد الإلكتروني</label>
      <input type="email" class="form-control" name="email" placeholder="your@email.com" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">كلمة المرور</label>
      <input type="password" class="form-control" name="password" placeholder="******" required>
    </div>
    <button type="submit" class="btn btn-default">دخول</button>
  </form>
{% endblock %}
