body{
  font-family: tahoma
}
.navbar {
    border-radius: 0px;
}
.navbar-inverse{
  /*background: #1c813b;*/
  border: none;
}
@media (min-width:700px) {
  .show-on-hover:hover > ul.dropdown-menu {
      display: block;
  }
}
.brand-img{
  margin-left: 7px
}
.rounded{
  border-radius: 6px;
}
